<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask Bucket List App</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>
    <h2 style = "text-align: center;">Welcome to search!</h2>

    {% for message in form.state.errors %}
         <div>{{ message }}</div>
      {% endfor %}

      {% for message in form.county.errors %}
         <div>{{ message }}</div>
      {% endfor %}

    <form action="http://localhost:5000/" method="post">
        <fieldset>
            <legend>Search Form</legend>
            {{ form.hidden_tag() }}

            <div style = font-size:20px; font-weight:bold; margin-left:150px;>
               {{ form.state.label }}<br>
               {{ form.state }}
               <br>

               {{ form.county.label }}<br>
               {{ form.county }}
               <br>

               Date From:
               <input type="date" name="bday">
               <input type="submit" value="Send">
               Date To:
               <input type="date" name="bday">
               <input type="submit" value="Send">
               br>
               <h3>Choose the weather parameter</h3>
               <label for="temp"><b>Temperature</b></label>
               <input type="checkbox" name="Temperature" id ="temp">
               <label for="wind"><b>Wind Speed</b></label>
               <input type="checkbox" name="wind" id ="wind">
               <label for="RH"><b>Relative Humidity</b></label>
               <input type="checkbox" name="RH" id ="RH">
               <label for="press"><b>Barometric Pressure</b></label>
               <input type="checkbox" name="pressure" id ="press">

               <br>
               <br>
               <h3>Choose the gas pollutant</h3>
               <label for="CO"><b>CO</b></label>
               <input type="checkbox" name="CO" id ="CO">
               <label for="SO2"><b>SO2</b></label>
               <input type="checkbox" name="SO2" id ="SO2">
               <label for="NO2"><b>NO2</b></label>
               <input type="checkbox" name="NO2" id ="NO2">
               <label for="O3"><b>O3</b></label>
               <input type="checkbox" name="O3" id ="O3">
               <br>
               <br>
               <h3>Choose the particulate pollutant</h3>
               <label for="PM10_mass"><b>PM10 Mass</b></label>
               <input type="checkbox" name="PM10_mass" id ="PM10_mass">
               <label for="PM2point5_FRM"><b>PM2.5 (Federal Reference Method)</b></label>
               <input type="checkbox" name="PM2point5_FRM" id ="PM2point5_FRM">
               <label for="PM2point5_nonFRM"><b>PM2.5 (Not Federal Reference Method)</b></label>
               <input type="checkbox" name="PM2point5_nonFRM" id ="PM2point5_nonFRM">
               <br>
            </div>

         </fieldset>
<!--
            <label for="state"><b>State<b></label>
            <input type="text" name="State">
            <label for="county"><b>County<b></label>
            <input type="text" name="County">

            <br>
            Date From:
            <input type="date" name="bday">
            <input type="submit" value="Send">
            Date To:
            <input type="date" name="bday">
            <input type="submit" value="Send">

            <br>
            <h3>Choose the weather parameter</h3>
            <label for="temp"><b>Temperature</b></label>
            <input type="checkbox" name="Temperature" id ="temp">
            <label for="wind"><b>Wind Speed</b></label>
            <input type="checkbox" name="wind" id ="wind">
            <label for="RH"><b>Relative Humidity</b></label>
            <input type="checkbox" name="RH" id ="RH">
            <label for="press"><b>Barometric Pressure</b></label>
            <input type="checkbox" name="pressure" id ="press">

            <br>
            <br>
            <h3>Choose the gas pollutant</h3>
            <label for="CO"><b>CO</b></label>
            <input type="checkbox" name="CO" id ="CO">
            <label for="SO2"><b>SO2</b></label>
            <input type="checkbox" name="SO2" id ="SO2">
            <label for="NO2"><b>NO2</b></label>
            <input type="checkbox" name="NO2" id ="NO2">
            <label for="O3"><b>O3</b></label>
            <input type="checkbox" name="O3" id ="O3">
            <br>
            <br>
            <h3>Choose the particulate pollutant</h3>
            <label for="PM10_mass"><b>PM10 Mass</b></label>
            <input type="checkbox" name="PM10_mass" id ="PM10_mass">
            <label for="PM2point5_FRM"><b>PM2.5 (Federal Reference Method)</b></label>
            <input type="checkbox" name="PM2point5_FRM" id ="PM2point5_FRM">
            <label for="PM2point5_nonFRM"><b>PM2.5 (Not Federal Reference Method)</b></label>
            <input type="checkbox" name="PM2point5_nonFRM" id ="PM2point5_nonFRM">
            <br>
            <br>
            <button type="submit" id="searchItem"><b>Search<b></button>
            -->
    </form>



</body>

</html>
